<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Document</title>
  </head>
  <style>
    /* Dropdown Button */
    .dropbtn {
      background-color: #3498db;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover,
    .dropbtn:focus {
      background-color: #2980b9;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
      display: block;
    }
  </style>
  <body>
    <p>Welcome <%= cred.username %></p>
    <% cred.hosting %>
    <form action="/home/<%= cred.id%>/new" method="post">
      <input type="text" name="chat" placeholder="name" />
      <Button>+</Button>
    </form>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Boxes</button>
      <div id="myDropdown" class="dropdown-content">
        <h1>
          <ul>
            <% for(var i=0; i<cred.hosting.length; i++) {%>
              <form action="/home/chats/<%=cred.hosting[i]%>/<%=cred.username %>" method="post">
               <button><li><%= cred.hosting[i] %></li></button>
              </form>
            <% } %>
            </ul>
        </h1>
      </div>
    </div>

    <script>

      
      //Dropdown menu until end.
      // Close the dropdown menu if the user clicks outside of it
      function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
  </body>
</html>
